body {
}

.header {
    background-color: #333333;
}

label {
    font-size: 14;
}

.time {
    font-size: 10;
}

.description {
    font-size: 12;
}

.title {
    font-size: 18;
}

.menuItem {
    font-size: 16;
}

.mainName {
    font-size: 20;
    color: white;
    margin-left: 5;
}

.speakerName {
    color: gray;
    font-size: 21;
    font-style: bold;
}

.speakerDescription {
    color: gray;
    font-size: 15;
}

.button {
    background-color: gray;
}

.switch {
    margin-left: 10;
    font-size: 16;
}